<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>Billify 🧾| <%= title %></title>
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
        <div style="display: none">
            <%- include('../partials/header.ejs') %>
        </div>
        <main class="main"><%- body %></main>
        <%- include('../partials/scripts.ejs') %>
    </body>
</html>
