<style>
    .bill.wrapper {
        text-transform: capitalize;
    }
</style>

<!-- generate a random color -->

<div class="bill wrapper p-lg">
    <div class="bill__header mb-lg">
        <div class="breadcrumbs mb-lg">
            <a
                class="mb-lg"
                href="/bills"
            >All Bills</a> / <span class="bold">Bill Name: <%= bill.billName %> </span>
        </div>
        <div
            class="rounded-md bg-primary flex align-center justify-center"
            style="height: 5rem; width: 5rem;"
            id="bill__header__icon"
        >

            <h1 class="font-xxl"><%= bill.billName[0] %></h1>
            <img
                src="<%= bill.billCompanyImg %> "
                alt=""
                srcset=""
            >
        </div>
        <small class=""><%= bill.billName %></small>
    </div>
    <div class="bill__content paper-bordered p-md">
        <div class="flex align-center justify-between py-md border-bottom">
            <p class="txt-alt">Bill Name</p>
            <p><%= bill.billName %></p>
        </div>
        <div class="flex align-center justify-between py-md border-bottom">
            <p class="txt-alt">Amount</p>
            <p>$<%= bill.billAmount.toFixed(2) %></p>
        </div>
        <div class="flex align-center justify-between py-md border-bottom">
            <p class="txt-alt">Due Date</p>
            <p><%= new Date(bill.billDueDate).toLocaleDateString() %></p>
        </div>
        <div class="flex align-center justify-between py-md border-bottom">
            <p class="txt-alt">Category</p>
            <p><%= bill.billCategory %></p>
        </div>
        <div class="flex align-center justify-between py-md border-bottom">
            <p class="txt-alt">Status</p>
            <span class="px-sm py-sm rounded-md <%= bill.billStatus.toLowerCase() === 'paid' ? 'bg-success-transparent-200 border-success-transparent-200' : 'bg-warning-transparent-200 border-warning-transparent-200' %> ">
                <p><%= bill.billStatus %></p>
            </span>
        </div>
        <div class="flex align-center justify-between py-md border-bottom">
            <p class="txt-alt">Type</p>
            <p><%= bill.billFrequency === '1' ?  'One-time' : 'Recurring'%></p>
        </div>
        <div class="flex align-center justify-between py-md border-bottom">
            <p class="txt-alt">Frequency</p>
            <% if (bill.billFrequency === '1') { %>
            <p class="">Weekly</p>
            <% } %>
            <% if (bill.billFrequency === '2') { %>
            <p class="">Bi-Weekly</p>
            <% } %>
            <% if (bill.billFrequency === '4') { %>
            <p class="">Monthly</p>
            <% } %>
            <% if (bill.billFrequency === '12') { %>
            <p class="">Yearly</p>
            <% } %>
            <% if (bill.billFrequency === '24') { %>
            <p class="">2 Years</p>
            <% } %>
            <% if (bill.billFrequency === '60') { %>
            <p class="">5 Years</p>
            <% } %>
        </div>
    </div>

    <script>
        function getRandomColor() {
            let letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        let gradientFrom = getRandomColor();
        let gradientTo = getRandomColor();

        document.querySelector('#bill__header__icon').style.background = `linear-gradient(90deg, ${gradientFrom} 0%, ${gradientTo} 100%)`;
    </script>